nav {
  position: sticky;
  top: 0;
  width: 100%;

  background-color: #3d4158;
}

ul {
  padding: 10px;
  display: flex;
  margin: 0px;
}

li {
  padding: 5px;
  margin: 5px;
}

a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

a:hover {
  color: #eacece;
}
