.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
  // background-color: #eacece;
  background-position: center;
  background-size: cover;
  color: white;
  background: linear-gradient(130deg, #eacece, #eedeea, #3d4158);
  background-size: 200% 2500%;
  animation: colorAnimation 10s ease infinite;
}

@keyframes colorAnimation {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 91% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.description {
  font-size: 1.8rem;
  line-height: 1.3;
  margin: 5px;
}

.socialIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 20px;
  fill: white;
}

.socialIcons svg {
  height: 100%;
}
